.footer {
  padding-bottom: 3em ;
  /* margin-top: 4em; */
  text-align: center;
}

.footer__link {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--clr-fg);
}

.user-image{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.user-image img {
  width: 10%;
  height: auto;
}

@media (max-width: 600px) {
  .footer {
    padding: 2em;
    margin-top: 3em;
  }
  .user-image img {
  width: 20%;
  height: auto;
}
}
